* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 250px;
    height: 450px;
    background: rgb(224, 218, 218);
    border: 3px solid rgb(192, 192, 192);
    border-radius: 10px;
}

.score {
    margin: 50px auto 10px auto;
    width: 200px;
    min-height: 50px;
}

.score::after {
    content: '';
    width: 100%;
    display: block;
    clear: both;
}

.global-score {
    width: 40px;
    height: 45px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 6px;
    background: rgb(235, 235, 235);
    margin: 0 13px;
    float: left;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: 600;
}

.reset {
    display: block;
    float: left;
    border-radius: 3px;
}

.name {
    margin: auto;
    width: 136px;
}

.name .zero {
    margin-left: 107px;
} 

.field {
    margin: 40px auto;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.field::after {
    display: block;
    content: '';
    clear: both;
}

.square {
    width: 50px;
    height: 50px;
    background: rgb(240, 239, 239);
    float: left;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    line-height: 50px;
}

.square:hover {
    border: 1px solid rgb(211, 211, 211);
    background: rgb(255, 255, 162);
}

.new-game {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: rgb(124, 252, 0);
    font-weight: 600;
}

.chips {
    border: 1px solid rgba(70, 56, 56, 0.4);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background: rgba(0, 0, 0, .4);
}

.chips-field {
    width: 200px;
    position: fixed;
    right: calc(50% - 100px);
    top: 180px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.active {
    font-size: 20px;
    font-weight: 900;
    color: rgb(9, 185, 9);
}