* {
    font-family: Arial, Helvetica, sans-serif;
}


.score {
    margin: 50px auto;
    width: 200px;
    height: 50px;

}

.global-score {
    width: 40px;
    height: 45px;
    border: 1px solid gray;
    margin: 0 16px;
    float: left;
    text-align: center;
    line-height: 45px;
}

.reset {
    display: block;
    float: left;
}

.field {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    text-align: center;
}

.field::after {
    display: block;
    content: '';
    clear: both;
}

.square {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    line-height: 50px;
}

.new-game {
    display: block;
    margin: 20px auto;
}