* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
    background: #f4f6f8;
    font-family: Arial, Tahoma, sans-serif;
    color: #34404b;
}

p {
    margin: 0;
}

h3 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    color: #ff5912;
}

.container {
    width: 1200px;
    margin: 10px auto;
}

.row {
    margin: 0 -1.25%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.site-footer {
    background: #fff;
    padding: 60px 0 44px 0;
    font-size: 14px;
    color: #28313b;
}

.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4 {
    font-size: 16px;
    color: #ff5912;
}

.block-900 {
    width: 72.5%;
    min-height: 100px;
    margin: 0 1.25%;
    float: left;
}

.block-370 {
    width: 30.833333%;
    min-height: 100px;
    margin: 0 1.25%;
    float: left;
}

.block-300 {
    width: 22.5%; /* проверить проценты: 22,5 или 20 */
    min-height: 100px;
    margin: 0 1.25%; 
    float: left;
}

.block-270 {
    width: 22.5%; /* проверить проценты: 22,5 или 20 */
    min-height: 100px;
    margin: 0 1.25%; 
    float: left;
}


.block-170 {
    width: 14.166666%;
    min-height: 100px;
    margin: 0 1.25%;
    float: left;
}

.goods-section-description {
    font-size: 16px;
    text-align: center;
}

.goods-block {
    margin: 80px 0;
}

.goods-card {
    min-height: 350px;
    background: #fff;
    text-align: center;
    font-size: 18px;
}

.goods-card img {
    margin-top: 30px;
}

.goods-price {
    color: #ff5912;
}


/* --------------------sidebar-block------------- */

.sidebar-block {
    width: 97.5%;
    background: #fff;
    margin: 0 1.25% 30px 1.25%;
    padding: 20px 0;
}

.sidebar-block ul li {
    list-style: none;
    margin: 20px 0;
}

.active-square::before {
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    border: 4px solid #ff5912;
    margin-right: 10px;
}

.inactive-square::before {
    content: '';
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-right: 10px;
    background: #f4f6f8;
}

.sidebar-block h3 {
    font-size: 18px;
    color: #ff5912;
}

.sidebar-block a {
    color: #28313b;
    text-decoration: none;
}

/* ---------------------price-filter--------------- */

.price-filter {
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.price-dot-block {
    display: inline-block;
    position: relative;
    top: 11px;
}

.min-price {
    left: 20px;
}

.max-price {
    left: 120px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #34404b;
    border-radius: 100%;
    margin: 5px auto;
}

.dark-line {
    position: absolute;
    left: 40px;
    right: 40px;
    height: 3px;
    background-color: #34404b;
}

.light-line {
    height: 3px;
    background-color: #f4f6f8;
}

.input-price {
    margin-left: 40px;
}

.input-price input {
    width: 50px;
    margin-right: 20px;
}

/* ------------------end price-filter--------------- */
/* ------------------single-goods--------------- */

.single-goods {
    background: #fff;
    padding: 30px 0;
}

.single-goods::after {
    content: '';
    display: block;
    clear: both;
}

.single-goods-left {
    float: left;
    width: 37.5%;
    margin: 0 1.25%;
    text-align: center;
}

.single-goods-right {
    float: left;
    width: 57.5%;
    margin: 0 1.25%;
}

.goods-img-max {
    padding: 20px;
}

.goods-img-max img {
    max-width: 100%;
}

.goods-img-min div {
    width: 94px;
    height: 68px;
    overflow: hidden;
    background: #f4f6f8;
    display: inline-block;
    line-height: 100px;
    cursor: pointer;
}

.goods-img-max img {
    max-width: 100%;
}

.goods-img-min div.active {
    background: #ff5912;
}

.goods-img-min div img {
    max-height: 100%;
}

/* ------------------end od slider------------------------ */


.single-goods-card h1 {
    color: #ff5912;
    font-size: 52px;
    margin: 10px 0 20px 0;
}

.single-goods-card .short-description {
    font-size: 18px;
    color: #34404b;
}

.single-goods-card .full-description {
    font-size: 16px;
    line-height: 30px;
    color: #34404b;
    margin: 30px 0;
}

.light-grey-line {
    height: 1px;
    background: #f4f6f8;
    width: 100%;
    margin: 40px 0;
}

.choose-size {
    font-size: 18px;
}

.choose-size::after {
    content: '';
    display: block;
    clear: both;
}

.choose-size .left {
    width: 50%;
    float: left;
    text-align: left;
}

.choose-size .size {
    font-size: 14px;
}

.choose-size .active {
    color: #ff5912;
    font-size: 18px;
}

.choose-size .right {
    width: 50%;
    float: left;
    text-align: right;
}

.choose-size button {
    background: none;
    border: none;
    color: #34404b;
}

.order-block .price {
    margin-top: 10px;
    width: 50%;
    float: left;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.order-block .link {
    width: 50%;
    float: left;
    text-align: right;
}

.order-block .link a {
    color: #34404b;
    margin: 5px 10px;
}

.order-block .order-now {
    height: 40px;
    width: 135px;
    background: #ff5912;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}