/* ------------------common styles------------------------ */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
    background: #f4f6f8;
    font-family: Arial, Tahoma, sans-serif;
    color: #34404b;
}

p {
    margin: 0;
}

h3 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    color: #ff5912;
}

.container {
    width: 1200px;
    margin: 10px auto;
}

.row {
    margin: 0 -1.25%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}


/* ------------------slider block--------------- */

.single-goods {
    background: #fff;
    padding: 30px 0;
}

.single-goods::after {
    content: '';
    display: block;
    clear: both;
}

.single-goods-left {
    float: left;
    width: 37.5%;
    margin: 0 1.25%;
    text-align: center;
}

.single-goods-right {
    float: left;
    width: 57.5%;
    margin: 0 1.25%;
}

.goods-img-max {
    padding: 20px;
    min-height: 320px;
}

.goods-img-max img {
    max-width: 100%;
}

.goods-img-min div {
    width: 94px;
    height: 68px;
    overflow: hidden;
    background: #f4f6f8;
    display: inline-block;
    line-height: 100px;
    cursor: pointer;
}

.goods-img-max img {
    max-width: 100%;
}

.goods-img-min div.active {
    background: #ff5912;
}

.goods-img-min div img {
    max-height: 100%;
}

/* ------------------description and order block------------------------ */

.single-goods-card h1 {
    color: #ff5912;
    font-size: 52px;
    margin: 10px 0 20px 0;
}

.single-goods-card .short-description {
    font-size: 18px;
    color: #34404b;
}

.single-goods-card .full-description {
    font-size: 16px;
    line-height: 30px;
    color: #34404b;
    margin: 30px 0;
}

.light-grey-line {
    height: 1px;
    background: #f4f6f8;
    width: 100%;
    margin: 40px 0;
}

.choose-size {
    font-size: 18px;
}

.choose-size::after {
    content: '';
    display: block;
    clear: both;
}

.choose-size .left {
    width: 50%;
    float: left;
    text-align: left;
}

.choose-size .size {
    font-size: 14px;
}

.choose-size .active {
    color: #ff5912;
    font-size: 18px;
}

.choose-size .right {
    width: 50%;
    float: left;
    text-align: right;
}

.choose-size button {
    background: none;
    border: none;
    color: #34404b;
}

.order-block .price {
    margin-top: 10px;
    width: 50%;
    float: left;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.order-block .link {
    width: 50%;
    float: left;
    text-align: right;
}

.order-block .link a {
    color: #34404b;
    margin: 5px 10px;
}

.order-block .order-now {
    height: 40px;
    width: 135px;
    background: #ff5912;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}